{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}

<div class="self-center pt-20 flex flex-col h-full w-full max-w-md px-6 gap-6 items-center">
    <form method="post" enctype="multipart/form-data" class="flex flex-col w-full bg-surface bg-opacity-20 items-center rounded-lg p-4">
        {% csrf_token %} 
        <p class="font-medium text-xl">To get started, please <span class="text-surface dark:text-accent_dark"><a href="{% url 'login' %}">login</a></span></p>
        <p class="font-medium text-lg mb-10">or go back <span class="text-surface dark:text-accent_dark"><a href="{% url 'index' %}">to home</a></span>:</p>
        {% if messages %}
            {% for message in messages %}
                <p class="font-bold text-red-800 mb-4">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <p class="font-serif text-2xl">Username</p>
            <input type="username" name="username" class="bg-gray-300 text-surface text-xl p-2 px-6 rounded-full" id="email" placeholder="Your Username" required>    
        </div>
        <div class="mb-3">
            <p class="font-serif text-2xl">Password</p>
            <input type="password" name="password" class="bg-gray-300 text-surface text-xl p-2 px-6 rounded-full" id="password" placeholder="Your Password" required>
        </div>
        <button type="submit" class="bg-accent bg-opacity-75 dark:bg-accent_dark font-bold text-xl p-3 px-8 text-white rounded-full mt-2">Submit</button>
    </form>
</div>
<div class="self-center flex flex-row w-full bg-surface bg-opacity-50 dark:bg:bg-surface_dark items-center justify-between p-2 px-6">
    <p class="p-6 w-full text-neutral_dark dark:text-accent_dark text-center text-2xl font-medium font-serif">Don't have an account? <span class="font-sans font-bold"><a class="text-surface dark:text-accent_dark" href="{% url 'signup' %}">Signup</a></span></p>
</div>
{% endblock %}